<a href="https://colab.research.google.com/github/YongjaeKwon0629/06_27_Autuomobile_Dictionary/blob/main/2025_06_27_Python3_tuple_ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **파이썬 튜플**

In [ ]:
mytuple = ("apple", "banana", "cherry")

**튜플**  
튜플은 하나의 변수에 여러 항목을 저장하는 데 사용됩니다.  
  
튜플은 파이썬에서 데이터 컬렉션을 저장하는 데 사용되는 4가지 내장 데어티 유형 중 하나입니다.  
나머지 3가지는 '리스트', '셋', '딕셔너리'이며 각각 다른 특성과 사용법을 가지고 있습니다.  

**튜플은 순서가 있고 변경할 수 없는**  컬렉션입니다.  

튜플은 둥근 괄호로 작성됩니다.  

**예**    
튜플을 생성합니다.

In [ ]:
thistuple=("apple","banana","cherry")
print(thistuple)

('apple', 'banana', 'cherry')

**튜플 항목**  
튜플 항목은 정렬되어 있고, 변경할 수 없으며, 중복 값을 허용합니다.

튜플 항목은 인덱싱됩니다. 첫 번째 항목에는 인덱스가 있고 [0], 두 번째 항목에는 인덱스가 있습니다 [1].

**순서**  
튜플이 순서가 있다는 것은 항목들이 정해진 순서를 가지고 있으며, 그 순서가 변경되지 않는다는 것을 의미합니다.

**중복 허용**  
튜플은 인덱싱되므로 동일한 값을 갖는 항목을 가질 수 있습니다.  
  
**예**  
튜플은 중복 값을 허용합니다.

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

**튜플 개수 확인**  
튜플에 몇 개의 항목이 있는지 확인하려면 다음 len()함수를 사용하세요.  
  
**예**  
튜플에 있는 항목의 개수를 출력합니다.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

**항목이 하나만 있는 튜플 만들기**  
항목이 하나만 있는 튜플을 만들려면 항목 뒤에 쉼표를 추가해야 합니다.  
그렇지 않으면 Python에서 튜플로 인식하지 못합니다.  

**예**

In [6]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

**튜플 항목 - 데이터 유형**  
튜플 항목은 모든 데이터 유형이 될 수 있습니다.  
**예**  
문자열, 정수 및 부울 데이터 유형:

In [5]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

**예**
문자열, 정수 및 부울 값을 포함하는 튜플:

In [7]:
tuple1 = ("abc", 34, True, 40, "male")

**유형()**
Python의 관점에서 튜플은 'tuple'이라는 데이터 유형을 가진 객체로 정의됩니다.  
**예**  
튜플의 데이터 유형은 무엇입니까?

In [8]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

**tuple() 생성자**  
tuple() 생성자를 사용하여 튜플을 만드는 것도 가능합니다.
**예**  
tuple() 메서드를 사용하여 튜플을 만듭니다.

In [9]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

**파이썬 컬렉션(배열)**
Python 프로그래밍 언어에는 4가지 컬렉션 데이터 유형이 있습니다.

**목록은** 정렬되고 변경 가능한 컬렉션입니다. 중복된 멤버를 허용합니다.  
**튜플은** 순서가 있고 변경할 수 없는 컬렉션입니다. 중복된 멤버를 허용합니다.  
**집합은** 순서가 없고, 변경 불가능하며, 인덱싱되지 않은 컬렉션입니다. 중복된 멤버가 없습니다.  
**딕셔너리는** 정렬되고 변경 가능한 컬렉션입니다. 중복된 멤버는 없습니다.

# **Python - 튜플 항목에 접근하기**

**튜플 항목에 액세스**  
대괄호 안에 인덱스 번호를 참조하여 튜플 항목에 액세스할 수 있습니다.  
**예**  
튜플의 두 번째 항목을 출력합니다.

In [10]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

**음수 인덱싱**  
음수 인덱싱은 끝에서부터 시작한다는 것을 의미합니다.

-1마지막 항목을 참조하고, -2두 번째로 마지막 항목을 참조합니다.  
**예**  
튜플의 마지막 항목을 출력합니다.

In [11]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry